body {
  box-sizing: border-box;
  margin: 0;
  font-size: 1em;
  font-family: helvetica, arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.synopsis {
  color: #7E8184;        /* Light gray */
  font-style: italic;
}

.synopsis em {
  font-style: normal;
}

.container > p:last-of-type {
  margin-bottom: 50px;
}

.button:link, .button:visited {
  background-color: #5995DA;    /* Blue */
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;
  color: white;
  display: block;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-decoration: none;

  width: 200px;
  margin: 20px auto;
}

.button:hover, .button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}

.button:active, .button:visited:active {
  color: white;
  background-color: #5995DA;  /* Blue */
}

/*.button:link {
  color: blue;
  text-decoration: none;
}

.button:visited {
  color: purple;
}*/

/*.button:hover {
  color: aqua;
  text-decoration: underline;
}

.button:visited:hover {
  color: orange;
}

.button:active {
  color: red;
}*/

/*.button:visited:active {
  color: red;
}*/

#button-2 {
  background-color: #D55C5F;    /* Red */
  color: #5D6063;  /* Dark gray */

}
.call-to-action:link, .call-to-action:visited {
  background-color: #EEB75A;     /* Yellow */
  font-style: italic;
}

.call-to-action:hover, .call-to-action:visited:hover {
  background-color: #F5CF8E;     /* Light yellow */
}

.call-to-action:active, .call-to-action:visited:active {
  background-color: #EEB75A;     /* Yellow */
}
